<html>
	<head>
		<script
		  src="https://code.jquery.com/jquery-3.2.1.min.js"
		  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		  crossorigin="anonymous"></script>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Monoton|Nothing+You+Could+Do" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="css/application.css" />
        <script type="text/javascript" src="/js/application.js"></script>
	</head>
	<body>

		<%= yield %>
	</body>

</html>